* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: sans-serif;
    color: #444444;
    border-top: 10px solid #1098ad;
    line-height: 1.5;
}

.container {
    /*max-width: 1100px;*/
    width: 700px;
    margin: auto;
    /*overflow: auto;*/
    /*padding: 0 40px;*/
}

h1 {
    color: blue;
    text-transform: uppercase;
    font-style: italic;

}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}


h3 {
    font-size: 30px;
    margin-bottom: 40px;
}


h4 {
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h1, h2, h3 {
    color: rgba(16, 152, 173, 0.74);
}

h4, h5, h6, p, li {
    font-family: sans-serif;
    color: #444444;
}

p {
    font-size: 22px;
    line-height: 1.5;
    font-family: sans-serif;
    margin-bottom: 15px;
}

ol, ul {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 22px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0px;
}

footer p {
    font-size: 16px;

}

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
    text-align: center;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style-type: none;
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 60px;
    height: 80px;
}

.post-header {
    margin-bottom: 40px;
}

.post-img {
    width: 100%;
    height: auto;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 50px 0;
    width: 500px;
    margin: auto;
}

a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline;
}

a:active {
    color: blue;
    background-color: black;
}

nav {
    font-size: 18px;
}

article {
    margin-bottom: 60px;
}